<div class="bg-light">
  <nav class="navbar navbar-light bg-light container">
    <div style="flex-grow:0;">
      <a class="navbar-brand mx-5" href="#">
        <img class="" src="C1_log0" />
      </a>
    </div>
    <div style="flex-grow:1;">
      <div>
        <a class="" href="#">
          <span class="nav-sec">Credit Card</span>
        </a>
        <a class="" href="#">
          <span class="nav-sec">Checking & Savings</span>
        </a>
        <a class="" href="#">
          <span class="nav-sec">Auto Loans</span>
        </a>
        <a class="" href="#">
          <span class="nav-sec">Business</span>
        </a>
        <a class="" href="#">
          <span class="nav-sec">Commerical</span>
        </a>
        <a class="" href="#">
          <span class="nav-sec">Learn & Grow</span>
        </a>
      </div>
    </div>
    <div class="uti-sec">
        <fa name="search" size="lg"></fa>
        <fa name="question-circle" size="lg"></fa>
        <fa name="map-marker" size="lg"></fa>
    </div>
  </nav>
</div>
