<header>
    <div class="container">
        <div class="row mb-1 header-sec breadcrumb-font">
            <div class="col">Explore Credit Card Benefits </div>
            </div>
        </div>
    <!-- </div> -->
    <div class="row banner-img">
        <div class="grv-card mx-auto d-block banner-img-card">
            <div class="grv-card__content grv-card__link-scope">
                <h2 class="grv-card__heading banner-img-text-h2">Heading Goes Here</h2>
                <p class="grv-card__body grv-text__body--medium">
                    This Card body contains <em>simple</em> text with 
                    <strong>minimal</strong> inline formatting. It also includes a 
                    <a href="https://capitalone.com/credit-cards/venture"
                    class="grv-card__link grv-card__link--expand">Link</a>
                </p>
            </div>
            <div class="grv-card__footer">
                <a href="https://www.capitalone.com" class="grv-button--progressive grv-button--compact grv-float--right">Link Button</a>
            </div>
        </div>
    </div>
</header>
